<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="bread"><span><a>Adminstrator</a></span> / <span>Categories</span></p>
            </div>
        </div>
    </div>
</div>


<div class="container mt-5">
    <h2>Categories ({{ categories.length }})</h2>
    <a routerLink="../category/0" class="btn btn-success pull-right float-right">Add Categories</a>
    <br><br>
    <div class="row">
        <div class="col-lg-12 table-responsive">
            <table class="table table-bordered">
                <tr>
                    <th>Actions</th>
                    <th>Sr.No</th>
                    <th>Image</th>
                    <th>categories</th>
                </tr>
                <tr *ngFor="let category of categories  | paginate
                : {
                    itemsPerPage: itemsPerPage,
                    currentPage: page,
                    totalItems: totalItems
                  };">
                    <td>
                        <button routerLink="../category/{{ category._id }}" class="btn btn-primary"><i
                                class="fa fa-edit"></i></button> &nbsp;
                        <button class="btn btn-danger" (click)="deletecategory(category._id)"><i
                                class="fa fa-trash"></i></button>
                    </td>
                    <td>{{category.srno}}</td>
                    <td> <img src="{{ baseurl + category.imagepath }}"
                            onerror="this.src = 'https://cdn-icons-png.flaticon.com/512/1053/1053244.png'"
                            style="height:80px;"></td>
                    <td>{{ category.name }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<br>
<pagination-controls class="pagination justify-content-center" (pageChange)="page = $event"></pagination-controls>